# Jupyter packages
jupyterlab==3.1.19
jupyterlab-lsp
jupytext
jupyterlab-git
# jedi-language-server
python-lsp-server[all]
pylsp-mypy
jupyterlab_code_formatter
ipython-sql
bash_kernel
yapf
isort
numpy
pandas
matplotlib
JLDracula
jupyterlab_latex
# jupyterlab_tensorboard
ipywidgets
ipydatagrid
stickyland
sidecar
# jupyterlab-spreadsheet
# jupyterlab_filetree
# jupyterlab-nvdashboard
jupyter_bokeh
# lckr-jupyterlab-variableinspector

# Pytorch packages
torch
torchvision
torchaudio
tensorboard