# Jupyter packages
jupyterlab==3.1.19
jupyterlab-lsp
jupytext
jupyterlab-git
jupyterlab_code_formatter
ipython-sql
bash_kernel
yapf
isort
numpy
pandas
matplotlib
jupyter-contrib-nbextensions
jupyter-nbextensions-configurator

# Pytorch packages
torch
torchvision
torchaudio

# Model packages
dalle2-pytorch
